body {
    font-family: Helvetica;
    margin: 0;
}

p {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 16px;
}

.logo {
    margin: 0;
    color: #F9FAF8;
    font-size: x-large;
    font-weight: 700;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 600;
}

.section-1{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    height: 400px;
}

.section-1 > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin: 0;
    padding: 16px;
}

.container > .left {
    color: #F9FAF8;
    margin: 8px;
    padding: 8px;
    width: 40%;
}

.left p{
    margin-bottom: 16px;
}

.left > .cto1 {
    width: 120px;
    height: 35px;
    border-radius: 8px;
    background-color: #3882F6;
    border: 2px solid #e5e7eb;
    color: #F9FAF8;
    font-weight: 600;
    font-size: medium;
}

.title1 {
    font-size: 40px;
    font-weight: bolder;

}

#img1 {
    width: 300px;
}

img {
    width: 150px;
}

.section-2{
    text-align: center;
    padding: 40px 8px;
    height: 350px;
}

.title2 {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 60px;
    color: #1f2937;
}

.info {
    width: 250px;
}

.section-2 > .container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.imginfo {
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.section-3 {
    background-color: #E5E7EB;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3 > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 65%;
}

.section-3 > .container > .quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;

}